<svg width="80" height="80" viewBox="0 0 80 80" class="mx-auto mb-4">
  
  <defs>
    <clipPath id="avatarClip">
      <rect x="5" y="5" width="70" height="70" rx="20" ry="20"/>
    </clipPath>
  </defs>
  
  <rect 
    x="5" 
    y="5" 
    width="70" 
    height="70" 
    rx="20" 
    ry="20" 
    fill="#374151" 
    class="dark:fill-gray-600"
  />
  
  <rect 
    x="5" 
    y="5" 
    width="70" 
    height="70" 
    rx="20" 
    ry="20" 
    fill="none" 
    stroke="#4B5563" 
    stroke-width="1" 
    class="dark:stroke-gray-500"
  />

  <g clip-path="url(#avatarClip)">
    <ng-container *ngIf="!isBlinking">
      <circle
        *ngIf="isPasswordVisible"
        [attr.cx]="28 + eyeOffsetX"
        [attr.cy]="32 + eyeOffsetY"
        r="4"
        fill="white"
      />
      <rect
        *ngIf="!isPasswordVisible"
        [attr.x]="24 + eyeOffsetX"
        [attr.y]="30 + eyeOffsetY"
        width="8"
        height="2"
        rx="1"
        fill="white"
      />
      
      <circle
        *ngIf="isPasswordVisible"
        [attr.cx]="52 + eyeOffsetX"
        [attr.cy]="32 + eyeOffsetY"
        r="4"
        fill="white"
      />
      <rect
        *ngIf="!isPasswordVisible"
        [attr.x]="48 + eyeOffsetX"
        [attr.y]="30 + eyeOffsetY"
        width="8"
        height="2"
        rx="1"
        fill="white"
      />
    </ng-container>

    <ng-container *ngIf="isBlinking">
      <rect
        x="24"
        y="30"
        width="8"
        height="2"
        rx="1"
        fill="white"
      />
      <rect
        x="48"
        y="30"
        width="8"
        height="2"
        rx="1"
        fill="white"
      />
    </ng-container>
  </g>

  <rect 
    x="35" 
    y="45" 
    width="10" 
    height="3" 
    rx="1.5" 
    fill="#9CA3AF" 
    class="dark:fill-gray-400"
  />
  
  <rect 
    x="62" 
    y="62" 
    width="8" 
    height="8" 
    rx="2" 
    fill="#3B82F6" 
    transform="rotate(45 66 66)"
  />
</svg>