<aside class="w-64 h-full bg-gray-100 text-black flex flex-col dark:bg-gray-900 dark:text-gray-200 ">

  <div class="p-4 border border-white dark:border-transparent">
    <div class="relative">
      <button
      (click)="onSearchChange()"
      class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-white"
    >
      🔍
    </button>

      <input
        [(ngModel)]="searchQuery"
        (input)="onSearchChange()"
        type="text"
        class="w-full rounded-xl pl-10 pr-10 py-2 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-800 dark:text-white"
        placeholder="Search user..."
      />

      <button
        *ngIf="searchQuery"
        (click)="clearSearch()"
        class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-white"
      >
        ✖️
      </button>
    </div>
  </div>

  <ng-container *ngIf="searchQuery && searchResults.length > 0 && image != null; else fallback">
    <div class="flex-1 overflow-y-auto p-2">
      <div
        *ngFor="let result of searchResults"
        (click)="startChat(result, image)"
        class="p-2 hover:bg-gray-300 rounded-xl cursor-pointer transition flex items-center gap-2 dark:hover:bg-gray-800"
      >
        <span class="text-blue-400">🔎</span>
        <span class="font-medium">{{ result }}</span>
      </div>
    </div>
  </ng-container>

  <ng-template #fallback>
    <ng-container *ngIf="loading$ | async; else notLoading">
      <div class="flex-grow flex items-center justify-center text-gray-500">
        Loading...
      </div>
    </ng-container>

    <ng-template #notLoading>
      <ng-container *ngIf="error$ | async as error; else showChats">
        <div class="flex-grow flex items-center justify-center text-red-500 px-4">
          Error: {{ error }}
        </div>
      </ng-container>
    </ng-template>

    <ng-template #showChats>
      <ul class="flex-grow overflow-y-auto border border-white dark:border-transparent">
        <li *ngIf="(chats$ | async)?.length === 0" class="p-4 text-center text-black dark:text-gray-500">
          Chats not found ;(
        </li>

        <li
          *ngFor="let chat of chats$ | async"
          (click)="onSelectChat(chat.nickName, chat.image)"
          class="flex items-center cursor-pointer px-4 py-2 transition-colors rounded-xl hover:bg-gray-300 dark:hover:bg-gray-700"
          [ngClass]="{ 'bg-gray-200 dark:bg-gray-700': selectedNickname === chat.nickName }"
        >
          <img
            [src]="chat.image"
            [alt]="chat.nickName"
            class="w-10 h-10 rounded-full mr-3 object-cover"
            loading="lazy"
          />
          <span class="truncate">{{ chat.nickName }}</span>
        </li>
      </ul>
    </ng-template>
  </ng-template>
</aside>
