<div class="flex h-screen dark:bg-gray-700 text-white">
  <ng-content select="[chat-sidebar]"></ng-content>

  <main class="flex-grow flex flex-col">
    <div
      *ngIf="selectedChat"
      class="min-h-[5rem] px-6 py-3 flex items-center gap-4 border border-white dark:border-transparent bg-gray-100 dark:bg-gray-800 shadow-sm"
    >
      <ng-container *ngIf="selectedChat === 'SavedMessage'; else defaultAvatar">
        <svg width="56" height="56" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="rounded-full bg-blue-500 p-2">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5v14l7-7 7 7V5a2 2 0 00-2-2H7a2 2 0 00-2 2z"/>
        </svg>
      </ng-container>
      <ng-template #defaultAvatar>
      <img
        *ngIf="selectedChatImage"
        [src]="selectedChatImage"
        alt="Avatar"
        class="w-14 h-14 rounded-full object-cover border-2 border-gray-300 dark:border-gray-600"
      />
      </ng-template>
      <div class="flex flex-col justify-center">
        <span class="text-lg font-semibold text-black truncate dark:text-white">
          {{ selectedChat }}
        </span>
      </div>
    </div>

    <div class="flex-grow p-6 overflow-y-auto text-black bg-gray-300 dark:text-white dark:bg-gray-900">
      <ng-content select="[chat-content]"></ng-content>
    </div>
  </main>
</div>
