<div class="relative">
  <button 
    class="absolute left-2 top-1/2 transform -translate-y-1/2 text-theme-secondary hover:text-theme-primary transition-colors"
    (click)="search.emit()"
  >
    🔍
  </button>

  <input
    [ngModel]="query"
    (ngModelChange)="queryChange.emit($event)"
    (focus)="focus.emit()"
    type="text"
    class="w-full rounded-xl pl-10 pr-10 py-2 
           bg-theme-active
           placeholder:bg-theme-active
           focus:outline-none focus:ring-2 focus:ring-theme-accent 
           transition-colors"
    [placeholder]="placeholder"
  />

  <button 
    *ngIf="query" 
    class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-theme-active hover:text-theme-primary transition-colors"
    (click)="clear.emit()"
  >
    ✖️
  </button>
</div>